.banner h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: gold;
}
.zoom {
    height: 500px;
    margin: 24px;
    animation: zoom 7s ease-out infinite;
  }
@keyframes zoom {
    0% {
    transform: scale(1, 1);
    }
    100% {
    transform: scale(2, 2);
    }
    }

    @media only screen and (max-width:700px) {
        .zoom{
            height: 300px;
    margin: 0px;
        }
    }
    @media only screen and (max-width:900px) and (min-width:700px) {
        .zoom{
            height: 350px;
    margin: 0px;
        }
    }